.bg-light{
    background-color: #f3f4f6;
    color: black;

    
    .dropdown,
    .searchBox,
    .countryCard{
        background-color: #ffffff;
        color: black;
    }   
}
.bg-dark{
    background-color: #2d3949;
    color: white;
    
    .dropdown,
    .searchBox,
    .countryCard{
            background-color: #1f2937;            
        }   
    .countryCard :hover{
        background-color: #4a5568;
    }
}
select{
    background-color: inherit;
    border: none;
    outline: none;
    padding: 200px;
}
option{
    background-color: inherit;
}
input{
    background-color: inherit;
    color: black;
}
